body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #787a7a;
  color: black;
  padding: 10px 0;
}

textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #787a7a;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.tweet {
  border: 1px solid #ddd;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  background-color: #f9f9f9;
}
